
<div ng-controller="PostController as postController">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-default" ng-click="postController.getPosts()">Refresh</a>
        </div>
    </div>
       <div class="row" ng-repeat="post in postController.posts">
            <div class="col-md-4 col-md-offset-4">
                <h2>{{post.Caption}}</h2>
                <h3> 1 + 2 = {{1 + 2}}</h3>
                <img src="{{post.ImageUrl}}" alt="Place Kitten" />
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
            </div>
        </div>

</div>